.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.extra {
  font-size: 12px;
  color: #6c7072;
}

.decription {
  padding: 0 20px;
  gap: 20px;
}

.decription > * {
  margin-bottom: 8px;
}

.active {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: none;
  border-radius: 32px;
  background-color: #f2f4f5;
  color: #6b4eff;
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .decription > * {
    padding: 20px 0;
  }
}
